<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="xxx1">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="http://localhost:3050/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>